@import "variables";

.video-container {
    .video-screen {
        height: 65%;
    }

    .video-timeline {
        height: 35%;
    }
}

.settings-tab {
    .form-control--small {
        display: inline-block;
        width: 70px;
        vertical-align: middle;
    }
}

@import 'components/videoScreen';
@import 'components/videoTimeline';
@import 'components/currentTime';
@import 'components/trackHeaders';
@import 'components/scrollStrip';
@import 'components/videoProgress';
@import 'components/annotationTracks';
@import 'components/annotationTrack';
@import 'components/annotationClip';
