.labels-tab {
    height: 100%;
    display: flex;
    flex-direction: column;

    .labels-tab__trees {
        flex: 1;
        overflow: hidden;
    }

    .labels-tab__plugins:not(:empty) {
        padding-top: 1em;
    }

    .labelbot-buttons {
        display: flex;

        button:first-child {
            flex: 1;
            margin-right: 9px;
        }
    }

    .labelbot-info {
        margin-top: 10px;
    }
}
