.annotator-tab {
    > h4 {
        &:first-child {
            margin-top: 0;
        }
    }

    .sidebar-tab__section {
        &:not(:first-child) {
            padding-top: 10px;
        }

        > h5 {
            margin-top: 0;
        }
    }

    .sidebar-tab__timestamp {
        padding-left: 2px;
        color: $text-muted;
        font-size: $font-size-small;
    }
}

@import "labels";
@import "annotation-modes";
@import "image-labels";
@import "settingsTab";