/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/assets/scripts
/public/assets/styles
/public/mix-manifest.json
/public/vendor
/storage/*.key
/storage/largo_patches
/storage/maia_jobs
/storage/metadata
/storage/pending-metadata
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/*.sublime-*
/*.phar
/*.php-cs-fixer.cache
/.idea
