# This file is just used to get security alerts from GitHub. Make sure the versions match
# in .docker/worker.dockerfile.
numpy==1.24.*
opencv-contrib-python-headless==4.6.0
scipy==1.10.*
scikit-learn==1.2.*
matplotlib==3.6.*
PyExcelerate==0.6.7
Pillow==10.0.1
Shapely==1.8.*
torch==2.0.*
torchvision==0.15.*
