.filter-select {
    display: flex;
    flex-flow: row wrap;

    .typeahead {
        flex: 1;
        margin-right: $padding-base-horizontal;

        .form-control {
            display: block;
        }
    }
}
