.image-label-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .image-label {
        position: relative;
        padding: $padding-small-vertical $padding-small-horizontal $padding-small-vertical 22px;

        &.image-label--deleting {
            color: $text-muted;
        }

        .image-label__color {
            position: absolute;
            top: 7px;
            left: .25em;
            width: 1em;
            height: 1em;
            border: 2px solid white;
            border-radius: 50%;
        }

        .image-label__delete {
            position: absolute;
            top: $padding-small-vertical;
            right: 5px;
        }
    }
}
