.label-tree {
    &.label-tree--panel {
        padding: $padding-small-vertical $padding-small-horizontal;

        .label-tree__list {
            margin: 0;
        }
    }
}

.label-tree__title {
    margin-top: 0;
}

.label-tree__list {
    list-style-type: none;
    padding: 0;

    .label-tree__list {
        padding-left: 15px;
    }
}
