@import "bootstrap";
@import "font-awesome";

.upload-form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@import 'video';
@import 'components/videoScreen';
