.message-curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    transition: .25s background-color ease;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);

    .message-curtain--text {
        text-align: center;
        padding: $padding-large-vertical $padding-large-horizontal;
        background-color: rgba(0, 0, 0, .75);
        border-radius: $border-radius-base;
    }
}
