.typeahead {
    display: inline-block;
}

.typeahead--block {
    display: block;
}

.typeahead-item-info {
    display: inline-block;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
}
