.typeahead {
    display: inline-block;
}

.typeahead--block {
    display: block;
}

.typeahead-item-info {
    display: inline-block;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.typeahead-scrollable {
    max-height: 200px;
    overflow-y: auto;
}

.typeahead-item-box {
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.typeahead-item-box:hover {
    background-color: #666666;
}

#scrollable-item {
    color: #cccccc;
    text-decoration: none;
    display: block;
}
