.typeahead {
    display: inline-block;
}

.typeahead--block {
    display: block;
}

.typeahead-item-info {
    display: inline-block;
    max-width: 250px;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.typeahead-scrollable {
    max-height: 200px;
    overflow-y: auto;
}

.typeahead-item-box {
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.typeahead-item-box:hover {
    background-color: #353535;
}

.scrollable-item {
    color: #cccccc !important;
    text-decoration: none !important;
    display: block !important;
}

.activeItem {
    background-color: #337ab7;
    max-width: 100%;

}

.activeItemText {
    color: white !important;
    max-width: 250px;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;

}

:root {
    color-scheme: light dark;
  }
