.scroll-strip {
    position: relative;
    display: flex;
    flex-direction: column;

    .video-progress {
        height: 34px;
        border-bottom: 1px solid $legend-border-color;
    }

    .annotation-tracks {
        flex: 1;
    }

    .time-indicator {
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 1px;
        background-color: #990000;
        box-shadow: 0 0 1px black;
        will-change: transform;
        // The duration is half the refresh rate of the videoTimeline. Using the same or
        // similar duration results in horrible flickering for some reason.
        transition: transform 50ms linear;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -5px;
            width: 10px;
            height: 5px;
            background-color: #ff0000;
        }

        &:after {
            content: '';
            position: absolute;
            top: 5px;
            left: -5px;
            border: 5px solid transparent;
            border-top-color: #ff0000;
        }
    }
}
