.video-timeline {
    position: relative;
    display: flex;
    overflow: hidden;
    padding-top: 2px;

    .grab-border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $legend-border-color;
        cursor: row-resize;
    }

    .static-strip {
        width: 150px;
        border-right: 1px solid $legend-border-color;
        display: flex;
        flex-direction: column;

        .track-headers {
            flex: 1;
        }
    }

    .scroll-strip {
        flex: 1;
    }
}
