.video-timeline {
    display: flex;
    border-top: 2px solid $legend-border-color;
    overflow: hidden;

    .static-strip {
        width: 150px;
        border-right: 1px solid $legend-border-color;
        display: flex;
        flex-direction: column;

        .track-headers {
            flex: 1;
        }
    }

    .scroll-strip {
        flex: 1;
    }
}
