.annotations-tab {
    // Positioning is required for the automatic scrolling to selected annotations.
    position: relative;
    height: 100%;
    overflow: auto;
}

.annotations-tab-item {
    // must not be position:relative because .annotation-list-item calculates the
    // offsetTop property relative to .annotations-tab!
    user-select: none;
    padding: 0 1em;
    border-bottom: 1px solid #353535;

    &.selected {
        .annotations-tab-item__title {
            color: white;
            padding-bottom: .5em;
            font-weight: bold;
        }
    }

    .annotations-tab-item__title {
        position: relative;
        padding: 1em 0 1em 1.25em;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }

    .annotations-tab-item__color {
        position: absolute;
        left: 0;
        top: 1.2em;
        width: 1em;
        height: 1em;
        border: 2px solid white;
        border-radius: 50%;
    }

    .annotations-tab-item__list {
        padding-bottom: 1em;
    }

    .annotations-tab-item__sub-item {
        cursor: pointer;
        padding: .25em 0;
        color: $text-muted;

        &:hover, &.selected {
            color: white;
        }

        &:hover .icon {
            @extend .icon-white;
        }

        &.selected .icon {
            @extend .icon-highlight;
        }

        .icon {
           margin-right: .25em;
        }
    }
}
