.icon {
    min-height: 16px;
    min-width: 16px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -3px;

    &.icon-point {
        background-image: url("@images/annotations/point.svg");
    }

    &.icon-rectangle {
        background-image: url("@images/annotations/rectangle.svg");
    }

    &.icon-polygon {
        background-image: url("@images/annotations/polygon.svg");
    }

    &.icon-linestring {
        background-image: url("@images/annotations/linestring.svg");
    }

    &.icon-circle {
        background-image: url("@images/annotations/circle.svg");
    }

    &.icon-ellipse {
        background-image: url("@images/annotations/ellipse.svg");
    }

    &.icon-wholeframe {
        background-image: url("@images/annotations/wholeframe.svg");
    }
}

.icon.icon-white, .icon.active {
    &.icon-point {
        background-image: url("@images/annotations/point_white.svg");
    }

    &.icon-rectangle {
        background-image: url("@images/annotations/rectangle_white.svg");
    }

    &.icon-polygon {
        background-image: url("@images/annotations/polygon_white.svg");
    }

    &.icon-linestring {
        background-image: url("@images/annotations/linestring_white.svg");
    }

    &.icon-circle {
        background-image: url("@images/annotations/circle_white.svg");
    }

    &.icon-ellipse {
        background-image: url("@images/annotations/ellipse_white.svg");
    }

    &.icon-wholeframe {
        background-image: url("@images/annotations/wholeframe_white.svg");
    }
}

.icon.icon-highlight {
    &.icon-point {
        background-image: url("@images/annotations/point_highlight.svg");
    }

    &.icon-rectangle {
        background-image: url("@images/annotations/rectangle_highlight.svg");
    }

    &.icon-polygon {
        background-image: url("@images/annotations/polygon_highlight.svg");
    }

    &.icon-linestring {
        background-image: url("@images/annotations/linestring_highlight.svg");
    }

    &.icon-circle {
        background-image: url("@images/annotations/circle_highlight.svg");
    }

    &.icon-ellipse {
        background-image: url("@images/annotations/ellipse_highlight.svg");
    }

    &.icon-wholeframe {
        background-image: url("@images/annotations/wholeframe_highlight.svg");
    }
}
