.progress-indicator-container {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

.progress-indicator {
    // position: absolute;
    width: 20px;
    height: 20px;
    // This is done to put (0, 0) to the bottom left corner which saves some
    // transformations when computing the progress arc.
    transform: rotate(-90deg);
}

.progress-indicator__background {
    fill: $text-color;
    opacity: 0.25;
}

.progress-indicator__progress {
    fill: $text-color;
}

.progress-indicator--all {
    .progress-indicator__background, .progress-indicator__progress {
        fill: $brand-success;
    }
}

.progress-indicator__marker {
    fill: transparent;
    stroke: white;
    stroke-width: 0.1;
}
