%info-box {
    z-index: 1;
    border-radius: 4px;
    background-color: fade-out(#222, 0.3);
    border: 1px solid #353535;
    padding: .25em .5em;
}

.navbar-default .navbar-text {
    &, a {
        color: #ccc;
    }
}

.annotations-breadcrumb {
    white-space: nowrap;
    max-width: 850px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}

// Assign dropdown an own css class due to bug #583
.annotations-project-dd {
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
}

.sidebar-tab__section {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@import "ol";
@import "icons";
@import "progress-indicator";
@import "sidebar/main";
@import "components/annotation-canvas";
@import "components/annotations-tab";
@import "components/label-indicator";
@import "components/mouse-position-indicator";
@import "components/zoom-level-indicator";
@import "components/scale-line-indicator";
@import "components/minimap";
@import "components/control-button";
@import "components/annotation-tooltip";
