.transect__images {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex: 2;

    &.label-mode {
        .transect-figure {
            cursor: pointer;

            &.image-label-error {
                border-color: $brand-danger;
            }

            &:hover {
                border-color: $brand-info;
            }

            // saving and saved state should override hover state
            &.image-label-saving {
                border-color: $brand-warning;
            }

            &.image-label-saved {
                border-color: $brand-success;
            }
        }
    }
}

.transect-figure {
    height: 135px;
    width: 180px;
    display: inline-block;
    position: relative;
    margin: $transect-image-margin;
    border: 2px solid transparent;
    // create a gap between transect figure border and image so the image color does
    // not interfere with the border color
    padding: 2px;
    border-radius: $border-radius-large;
    transition: border .25s ease;

    &:hover .image-button {
        opacity: .75;
    }

    .image-buttons {
        position: absolute;
        top: $transect-image-padding;
        right: $transect-image-padding;
        // width of a single button
        width: 28px;
    }

    .image-button {
        padding: 0.3em 0.5em;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: $border-radius-base;
        color: white;
        display: block;
        opacity: 0;
        transition: opacity 0.25s ease;

        &:not(:last-child) {
            margin-bottom: $transect-image-padding;
        }

        &:hover {
            opacity: 1;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: $border-radius-base;
    }
}

.image-label-popover {
    white-space: nowrap;
    overflow: auto;
    max-height: 150px;

    .image-label-list {
        margin-bottom: 0;

        .label-item {
            // for the "detach label" button
            padding-right: 16px;
        }

        .label-color {
            width: 1em;
            height: 1em;
            display: inline-block;
            border-radius: 50%;
            border: 2px solid #eee;
            vertical-align: middle;
        }

        .label-user {
            color: $gray-light;
        }
    }
}

.transect-figure__link {
    display: block;
    height: 100%;
}

.transect-figure__flags {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: $transect-image-padding;

    .figure-flag {
        position: relative;
        z-index: 100;
        margin-left: $transect-image-padding;
    }
}

.figure-flag {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $brand-info;
    border: 2px solid white;
}
