.sidebar__annotations {
	flex-grow: 2;
	overflow-y: auto;
}

.annotation-list__item {
	cursor: pointer;
	user-select: none;
	padding: 1em;
	padding-right: 0;
	border-bottom: 1px solid #333;
	position: relative;

	&:first-child {
		border-top: 1px solid #333;
	}

	&:hover, &.selected {
		color: white;
	}

	&.selected:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
		border-left: 3px solid #ff5e00;
	}

	.icon {
		margin-right: 1em;
	}
}

.label-list {
	padding-top: 1em;
}

.label-list__item {
	padding: 0.75em 0;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}

	.label__user {
		color: #9D9D9D;
	}

	.close {
		color: white;
		text-shadow: none;
	}
}
