.sidebar__annotations {
	flex-grow: 2;
	overflow-y: auto;
}

.labels-list-item {
    user-select: none;
    padding: 0 1em;
    border-bottom: 1px solid #353535;
    position: relative;

    &:first-child {
        border-top: 1px solid #353535;
    }

    &.selected {
        .list-item-title {
            color: white;
            padding-bottom: .5em;
            font-weight: bold;
        }
    }

    .list-item-title {
        padding: 1em 0;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }

    .list-item-color {
        width: 1em;
        height: 1em;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid #eee;
        vertical-align: middle;
    }


    .annotations-list {
        padding-bottom: 1em;
    }

    .annotation-list-item {
        position: relative;
        cursor: pointer;
        padding: .25em 0 .25em 1em;
        color: $text-muted;

        &:hover, &.selected {
            color: white;
        }

        &:hover .icon {
            @extend .icon-white;
        }

        &.selected .icon {
            @extend .icon-highlight;
        }

        .icon {
           margin-right: .25em;
        }
    }
}
