.sidebar__categories.open {
	display: flex;
	flex-flow: column nowrap;
}

.categories-search {
	margin-bottom: 1em;

    .form-control {
        display: inline-block;
        width: auto;
    }
}

.categories-body {
	flex-grow: 2;
	overflow: auto;
}

.categories-list:not(:last-child) {
    border-bottom: 1px solid #333;
}

.categories-list__name {
    margin-bottom: 2px;
}

.categories-list__items > .label-category-item {
    padding-left: 0;
}

.label-category-item {
	// width of the expandable before element
	padding-left: 19px;
	padding-top: 0.5em;
	cursor: pointer;

	& > .item__name {
        &:before {
            content: '▹ ';
        }

        &:hover {
    		color: white;
    	}
    }

	&.expandable > .item__name:before {
		content: '▸ ';
	}

	&.expandable.open > .item__name {
        color: white;

        &:before {
            content: '▾ ';
        }
    }

	& > .label-category-subtree {
		max-height: 0;
		overflow: hidden;
	}

	&.open > .label-category-subtree {
		max-height: none;
	}

	&.selected > .item__name {
		color: white;
		font-weight: bold;
	}
}
