.sidebar__categories.open {
	display: flex;
	flex-flow: column nowrap;
}

.categories-search {
	margin-bottom: 1em;
}

.categories-list {
	flex-grow: 2;
	overflow: auto;
	margin-bottom: 0;

	& > .label-category-item {
		padding-left: 0;
	}
}

.label-category-item {
	// width of the expandable before element
	padding-left: 19px;
	padding-top: 0.5em;
	cursor: pointer;

	.item__name {
		display: block;
	}

	& > .item__name:hover {
		color: white;
	}

	&.expandable > .item__name:before {
		content: '► ';
	}

	&.expandable.open > .item__name:before {
		content: '▼ ';
	}

	& > .label-category-subtree {
		max-height: 0;
		overflow: hidden;
	}

	&.open > .label-category-subtree {
		max-height: none;
	}

	&.selected > .item__name {
		color: white;
		font-weight: bold;
	}
}