.categories-search {
	margin-bottom: 1em;

    .form-control {
        display: inline-block;
        width: auto;
    }
}

.categories-body {
	flex-grow: 2;
	overflow: auto;
}

.categories-list:not(:last-child) {
    border-bottom: 1px solid #333;
}

.categories-list__name {
    margin-bottom: 2px;
}

.categories-list__items > .label-category-item {
    padding-left: 0;
}

.label-category-item {
	// width of the expandable before element
	padding-left: 19px;
	padding-top: 0.5em;
	cursor: pointer;

	& > .item:hover {
    	color: white;
    }

	&.expandable > .item .item__name {
        text-decoration: underline;
    }

	&.expandable.open > .item {
        color: white;
    }

	& > .label-category-subtree {
		max-height: 0;
		overflow: hidden;
	}

	&.open > .label-category-subtree {
		max-height: none;
	}

	&.selected > .item {
		color: white;
		font-weight: bold;
	}

    .item__color {
        width: 1em;
        height: 1em;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid #eee;
        vertical-align: middle;
    }
}
