.sidebar__labels {
	flex-grow: 2;
	overflow-y: auto;
}

.label__item {

	padding: 1em;
	border-bottom: 1px solid #333;

	.label {
		font-weight: normal;
		margin-right: 0.6em;
		font-size: 100%;
	}

	.label__name {
		color: white;
	}
}