.annotator__sidebar {
	background-color: #222;
	display: flex;
	flex-flow: row nowrap;
	color: #9D9D9D;

	.confidence-label {
		margin-right: 0.6em;
	}
}

.sidebar__permanent {
	@extend %sidebar-panel;
	display: flex;
	flex-flow: column nowrap;
}

.sidebar__controls {
	padding-bottom: 1em;
}

%sidebar-panel {
	width: 360px;
	border-left: 1px solid #090909;
	padding: 1em;
}

%foldout {
	display: none;
	overflow-y: auto;

	&.open {
		display: block;
	}
}

.sidebar__foldout {
    @extend %foldout;
    @extend %sidebar-panel;
}

.sidebar__foldout.open {
    display: flex;
    flex-flow: column nowrap;
}

.sidebar__minimap {
	background-image: url(../images/noise.png);
	height: 200px;
	margin-bottom: 1em;
	border: 1px solid #090909;
}
