.annotator-tab {
    > h4 {
        &:first-child {
            margin-top: 0;
        }
    }

    .sidebar-tab__section {
        &:not(:first-child) {
            padding-top: 10px;
        }

        > h5 {
            margin-top: 0;
        }
    }
}

@import "sidebar/annotations";
@import "sidebar/labels";
@import "sidebar/annotation-modes";
@import "sidebar/image-labels";

