.announcement__html-preview {
    max-height: 320px;
    overflow-y: auto;
}

.dashboard-version-list {
    max-height: 100px;
    overflow-y: auto;
}

.user-stats-list-group {
    max-height: 200px;
    overflow-y: auto;
}

.admin-chart {
    display: block;
    height: 70px;
}
