.dashboard__recent-image, .dashboard__recent-transect {
    display: block;
    margin: auto;
    width: 200px;
}

.dashboard__project-transect {
    display: inline-block;
    position: relative;
    height: 200px;
    padding-bottom: 1em;
    padding-right: .5em;
}

.dashboard__more-transects {
    display: inline-block;
    position: relative;
    height: 200px;
    padding-bottom: 1em;

    a {
        display: flex;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        border-radius: $border-radius-base;
        font-size: $font-size-h2;
        justify-content: center;
        align-items: center;
    }
}

.dashboard__all-projects {
    margin-top: 2em;
    margin-bottom: 2em;
}
