figcaption {
    text-align: center;
}

.glyphicon-spin {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

.image-thumbnail {
    position: relative;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

    &:hover .caption {
        opacity: 1;
    }

    & > a {
        display: block;
        height: 100%;
    }

    img, .caption {
        border-radius: $border-radius-base;
    }

    img {
        height: 100%;
    }

    .caption {
        width: 100%;
        position: absolute;
        bottom: 0;
        color: white;
        padding: 0.5em;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.8)) center no-repeat;
        opacity: 0.75;
        transition: opacity 0.25s ease;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
