.sidebar-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - #{$navbar-height} - 1px);
    margin-top: $navbar-height + 1px;
}

.sidebar-container__content {
    flex: 1;
    min-width: 0; // Don't use more than the available space.
    height: 100%;
    position: relative;
}
