.logo--standalone {
	margin-bottom: 1.5em;
}

.logo {
	font-size: $font-size-large;
	font-weight: normal;
	text-align: center;
	a {
		color: inherit;
		text-decoration: none;
	}
}

.logo__biigle {
	position: relative;
	margin-left: 32px;

    &:before {
        position: absolute;
        left: -34px;
        top: -4px;
        content: '';
        width: 32px;
        height: 32px;
        background: url("@images/logo.png") center no-repeat;
        background-size: contain;
    }
}

.logo.logo-inverse {
	.logo__biigle {
		color: $gray-lighter;
    }
}
