.messages.container-fluid {
    margin: 0 auto;
    // margin-top: -$navbar-margin-bottom;
    // margin-bottom: $navbar-margin-bottom;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    // don't block the navbar elements
    pointer-events: none;
}

.messages__message {
    @extend .col-sm-4;
    @extend .col-sm-offset-4;
    text-align: center;
    animation: scale-up 0.25s;
    margin-bottom: 0;
    position: relative;
    pointer-events: all;
}
