.messages.container-fluid {
	margin: 0 auto;
	margin-top: -$navbar-margin-bottom;
	margin-bottom: $navbar-margin-bottom;
}

.messages__message {
	border-radius: 0;
	text-align: center;
	animation: scale-up 0.25s;
	margin-bottom: 0;
}