.dropdown-menu {
    .divider {
        margin: 3px 0;
    }
}

.dropdown-footer {
    font-size: $font-size-small;
    color: $dropdown-header-color;

    ul {
        list-style: none;
        padding: 3px 10px;
        text-align: center;
        white-space: nowrap;
    }

    li {
        display: inline-block;

        &:not(:first-child):before {
            content: '\B7';
            margin-right: 3px;
        }
    }

    a {
        color: inherit;

        &:hover {
            color: $navbar-default-link-hover-color;
        }
    }
}

.sudo-mode-indicator {
    p.navbar-text {
        color: $brand-danger;
        border: 1px solid $brand-danger;
        padding: 0 4px;
        line-height: 17px;
        border-radius: $border-radius-small;
        box-sizing: border-box;
        height: 20px;
    }
}
