.dropdown-menu {
    .divider {
        margin: 3px 0;
    }
}

.dropdown-footer {
    font-size: $font-size-small;
    color: $dropdown-header-color;

    ul {
        list-style: none;
        padding: 3px 10px;
        text-align: center;
        white-space: nowrap;
    }

    li {
        display: inline-block;

        &:not(:first-child):before {
            content: '\B7';
            margin-right: 3px;
        }
    }

    a {
        color: inherit;

        &:hover {
            color: $navbar-default-link-hover-color;
        }
    }
}

.sudo-mode-indicator {
    p.navbar-text {
        color: $brand-danger;
        border: 1px solid $brand-danger;
        padding: 0 4px;
        line-height: 17px;
        border-radius: $border-radius-small;
        box-sizing: border-box;
        height: 20px;
    }
}

@keyframes shake {
    // From: https://www.w3schools.com/howto/howto_css_shake_image.asp
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.navbar-header {
    // Fix for Safari with an announcement.
    white-space: nowrap;

    .announcement {
        display: inline-block;
        height: 50px;
        display: inline-flex;
        align-items: center;

        .announcement-text {
            display: inline-block;
            animation: shake .5s;
        }

        .btn-warning {
            color: $brand-warning;
            background-color: transparent;

            &:hover {
                color: lighten($brand-warning, 12%);
            }

            &:active {
                color: lighten($brand-warning, 25%);
            }
        }
    }
}

.nav > li > a.navbar-btn-link {
    padding: 9px 3px;
}

.nav > li:last-child > a.navbar-btn-link {
    margin-right: 12px; // 15px space with the 3px padding
}
