@keyframes blink {
    0% {opacity: 0;}
    1% {opacity: 1;}
    2% {opacity: 0;}
    3% {opacity: 1;}
    4% {opacity: 0;}
    5% {opacity: 1;}
}

.notifications-icon {
    position: relative;

    &:hover .notifications-icon__count {
        background-color: lighten($brand-danger, 5%);
    }
}

.notifications-icon__count {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: $brand-danger;
    color: white;
    font-weight: bold;
    animation: blink 20s infinite;
}

.notification__action {
    margin-top: 10px;
    margin-bottom: 0;
}

.notification__tabs {
    margin-bottom: $navbar-margin-bottom;
}
