.search-form {
    padding-bottom: 1em;

    .input-group {
        margin-right: 65px;
    }

    .btn {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.search-results {
    list-style: none;
    padding: 0;
    word-wrap: break-word;

    > li {
        padding: 1.5em 0;
        border-bottom: 1px solid $nav-tabs-border-color;

        &:first-child {
            border-top: 1px solid $nav-tabs-border-color;
        }
    }
}

.search-results__name {
    font-size: $font-size-large;
    font-weight: bold;
}

.search-thumbnail {
    padding-right: 0;
    text-align: center;

    img {
        max-width: 100%;
        max-height: 45px;
        height: auto;
        border-radius: $border-radius-base;
    }
}

.federated-search-button {
    margin: 20px 0;
}
