// framework imports

@import "bootstrap";
@import "ui-bootstrap";

.center-form {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.navbar-noradius {
	border-radius: 0;
}

.info-text__sign {
	position: absolute;
	right: 14px;
	top: 20px;
}

// custom imports

@import "globals";
@import "animations";
@import "logo";
@import "buttons";
@import "messages";