/*
 * This is the main CSS which is globally available throughout the app.
 */

$font-family-sans-serif: sans-serif;
$font-family-monospace: monospace;

@import "bootstrap";
@import "font-awesome";

.center-form {
    display: flex;
    align-items: center;
    justify-content: center;
	height: 100vh;
}

.inline-block-form {
    display: inline-block;
}

.info-text__sign {
	position: absolute;
	right: 14px;
	top: 20px;
}

// custom imports

@import "admin";
@import "animations";
@import "annotations/main";
@import "components/fileBrowser";
@import "components/fileBrowserDirectory";
@import "components/fileBrowserFile";
@import "components/loader";
@import "components/loaderBlock";
@import "components/membersPanel";
@import "components/messageCurtain";
@import "components/powerToggle";
@import "components/sidebar";
@import "components/typeahead";
@import "dashboard";
@import "footer";
@import "globals";
@import "label-trees/main";
@import "layouts";
@import "logo";
@import "messages";
@import "navbar";
@import "notifications";
@import "projects/main";
@import "search";
@import "uiv/datepicker";
@import "uiv/tabs";
@import "videos/main";
@import "volumes/main";
@import "sync/main";
@import "reports";
@import "largo";
@import "vue";
