%ol-control {
    // on top of the map canvas
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1px;
    border-radius: 4px;
    transition: all 0.25s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.annotation-canvas {
    position: relative;
    height: 100%;
    background-image: url("@images/annotations/noise.png");
}

.annotation-canvas__toolbar {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;

    .btn-group {
        @extend %ol-control;
        margin-right: 0.5em;
    }
}

.annotation-canvas__left-indicators, .annotation-canvas__right-indicators {
    position: absolute;
    z-index: 1;
    bottom: 0.5em;

    > :not(:first-child) {
        margin-top: .25em;
    }
}

.annotation-canvas__left-indicators {
    left: 0.5em;
}

.annotation-canvas__right-indicators {
    right: 0.5em;
}

.control-button--force-swap {
    i {
        transform: translateX(-3px);

        &::after {
            content: '!';
            position: absolute;
            right: -6px;
        }
    }
}
