.control-button {
    position: relative;
    border-radius: 2px;
    transition: background-color 0.25s ease;
    background-color: fade-out($ol-control-color, 0.5);

    &:not(:last-child) {
        margin-right: 2px;
    }

    &:hover, &.active {
        color: white;
        background-color: fade-out($ol-control-color, 0.3);
    }

    &:focus {
        color: white;
    }

    &.control-button--danger {
        &:hover {
            background-color: darken($btn-danger-bg, 17%);
        }

        &.active {
            background-color: darken($btn-danger-bg, 10%);
        }
    }

    &.control-button--info {
        &:hover {
            background-color: darken($btn-info-bg, 17%);
        }

        &.active {
            background-color: darken($btn-info-bg, 10%);
        }
    }

    &.control-button--success {
        &:hover {
            background-color: darken($btn-success-bg, 17%);
        }

        &.active {
            background-color: darken($btn-success-bg, 10%);
        }
    }

    &.control-button--warning {
        &:hover {
            background-color: darken($btn-warning-bg, 17%);
        }

        &.active {
            background-color: darken($btn-warning-bg, 10%);
        }
    }

    .control-button__tooltip {
        color: $text-color;
        font-size: $font-size-small;
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translate(-50%, -100%);
        display: block;
        z-index: 100;
        white-space: nowrap;

        .popover-content {
            padding: $padding-small-vertical $padding-small-horizontal;
            display: flex;
        }

        .close {
            display: inline-flex;
            align-items: center;
            padding-left: 6px;
            height: 16px;
        }
    }
}

.control-button__sub-controls {
    position: absolute;
    top: -4px;
    left: 50%;
    transform-origin: 50% 100%;
    transform: translate(-50%, -100%) scale(0);
    display: flex;
    flex-wrap: nowrap;

    .btn {
        padding: 3px 6px;
    }
}

.control-button--open {
    > .control-button__sub-controls {
        transform: translate(-50%, -100%) scale(1);
    }
}
