.labelbot-popup {
    border: 1px solid $input-border;
    border-radius: $border-radius-base;
}

.labelbot-labels {
    list-style-type: none;
    max-width: 300px;
    display: block;
    padding: $padding-large-vertical;
    margin: 0;
    background-color: $body-bg;
}

.labelbot-label__color {
    position: absolute;
    top: 14px;
    left: $padding-small-horizontal;
    width: 1em;
    height: 1em;
    border: 2px solid white;
    border-radius: 50%;
}

.labelbot-label {
    position: relative;
    margin-bottom: 4px;
    border: 1px solid $input-border;
    border-radius: $border-radius-base;
}

.labelbot-label__name {
    position: relative;
    // 45px for the keyboard icon, 30px for the color dot.
    padding: $padding-large-vertical 45px $padding-large-vertical 30px;
    word-wrap: break-word;
    color: $text-muted;
}

.labelbot-label__progress-bar {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    opacity: 0.5;
    background-color: $input-border;
    transition: width 5s linear;
    border-radius: $border-radius-base;
}

.labelbot-label__keyboard {
    display: none;
    color: $text-muted;
    position: absolute;
    right: $padding-small-horizontal;
}

.labelbot-popup-grap-area {
    height: 20px;
    background-color: $body-bg;
    cursor: grab;
}

.labelbot-popup--dragging {
    .labelbot-popup-grap-area  {
        cursor: grabbing;
    }

    .labelbot-labels {
        pointer-events: none;
    }
}

.labelbot-popup-grap-area-notch {
    position: absolute;
    width: 3em;
    height: 0.4em;
    left: 50%;
    top: calc(-0.4em + 1px);
    transform: translateX(-50%);
    background-color: $body-bg;
    border-top: 1px solid $input-border;
    border-right: 1px solid $input-border;
    border-left: 1px solid $input-border;
    border-radius: $border-radius-base $border-radius-base 0 0;
}

.labelbot-popup-grap-area::after {
    content: "⋮⋮⋮";
    letter-spacing: 0.2rem;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 8px;
}

.labelbot-popup--focused {
    border-color: $gray-lighter;
    .labelbot-label__name {
        color: inherit;
    }

    .labelbot-label {

        &.labelbot-label--highlighted {
            color: white;
            cursor: pointer;
            background-color: $gray-lighter;

            .labelbot-label__keyboard {
                color: white;
            }
        }
    }

    .labelbot-label__keyboard {
        display: inline-block;
    }

    .labelbot-popup-grap-area {
        background-color: $gray-lighter;
    }

    .labelbot-popup-grap-area-notch {
        background-color: $gray-lighter;
        border-color: $gray-lighter;
    }
}
