.labelbot-popup {
    border: 1px solid $input-border;
    border-radius: $border-radius-base;
    overflow: hidden;
}

.labelbot-popup--focused {
    border-color: $gray-lighter;

    .labelbot-labels-label {
        .labelbot-labels-label__name {
            color: inherit;
        }

        .labelbot-labels-label__nameProgressColor,
        .labelbot-labels-label__highlighted {
            color: white;
        }
    }
}

.labelbot-labels {
    list-style-type: none;
    max-width: 300px;
    display: block;
    padding: $padding-large-vertical;
    margin: 0;
    background-color: $body-bg;
}

.labelbot-labels-label {
    position: relative;

    .labelbot-labels-label__color {
        position: absolute;
        top: 14px;
        left: $padding-small-vertical;
        width: 1em;
        height: 1em;
        border: 2px solid white;
        border-radius: 50%;
    }

    .labelbot-labels-label__name,
    .labelbot-labels-label__nameProgressColor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: $padding-large-vertical 5px $padding-large-vertical 27px;
        margin-bottom: 4px;
        border: 1px solid $input-border;
        border-radius: $border-radius-base;
        word-wrap: break-word;

        &:hover {
            color: white;
            cursor: pointer;
            background-color: $gray-lighter;
        }
    }

    .labelbot-labels-label__name,
    .labelbot-labels-label__nameProgressColor {
        color: $text-muted;
    }

    .labelbot-labels-label__nameProgress {
        position: relative;

        .labelbot-labels-label__progress-bar {
            position: absolute;
            height: 100%;
            opacity: 0.5;
            background-color: $input-border;
            transition: width 10s linear;
            border-radius: $border-radius-base;
        }
    }

    .labelbot-labels-label__highlighted {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: $padding-large-vertical 5px $padding-large-vertical 27px;
        margin-bottom: 4px;
        border: 1px solid $input-border;
        border-radius: $border-radius-base;
        word-wrap: break-word;

        color: white;
        cursor: pointer;
        background-color: $gray-lighter;
    }

    .labelbot-labels-label__highlightedProgress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: $padding-large-vertical 5px $padding-large-vertical 27px;
        margin-bottom: 4px;
        border: 1px solid $input-border;
        border-radius: $border-radius-base;
        word-wrap: break-word;

        color: white;
        cursor: pointer;
        background-color: $gray-lighter;
    }

    .labelbot-labels-label__keyboard {
        color: $text-muted;
    }

    .labelbot-labels-label__keyboardHighlighted {
        color: white;
    }
}

.labelbot-overlay-grap-area {
    height: 20px;
    background-color: $body-bg;
}

.labelbot-overlay-grap-area-notch {
    position: absolute;
    width: 3em;
    height: 0.4em;
    left: 50%;
    top: calc(-0.4em + 1px);
    transform: translateX(-50%);
    background-color: $body-bg;
    border-top: 1px solid $input-border;
    border-right: 1px solid $input-border;
    border-left: 1px solid $input-border;
    border-radius: $border-radius-base $border-radius-base 0 0;
}

.labelbot-popup--focused {
    .labelbot-overlay-grap-area {
        background-color: $gray-lighter;
    }

    .labelbot-overlay-grap-area-notch {
        background-color: $gray-lighter;
        border-color: $gray-lighter;
    }
}

.labelbot-overlay-grap-area::after {
    content: "⋮⋮⋮";
    letter-spacing: 0.2rem;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 8px;
}
