.minimap {
    @extend %info-box;

    position: absolute;
    top: .5em;
    right: .5em;
    background-image: url("@images/annotations/noise.png");
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}
