.project-volume-charts {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1.5rem;

    .grid-col-span-3 {
        grid-column: 1 / span 2;
    }

    .chart {
        height: 400px;
        width: 100%;
        outline: solid $nav-tabs-border-color 1px;
        border-radius: $border-radius-base;

        &.chart--netmap {
            height: 600px;
        }
    }

    .netmap-chart {
        position: relative;

        .force-button {
            position: absolute;
            right: 0.5em;
            top: 0.5em;
        }
    }
}
