.dashboard-project {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    h4 {
        margin-top: 0;
    }

    .preview-thumbnail {
        height: 180px;
        max-width: 100%;
    }
}

.dashboard__all-projects {
    padding: 2em;
    text-align: center;
}

.project-invitation {
    margin-top: 5em;
}

.form-control.annotation-strategy-description {
    height: 200px;
    box-sizing: border-box;
    text-align: left;
    align-content: top;
}

textarea.strategy-description {
  width: 100%;
  resize: none;
  min-height: 150px;
  max-height: 300px;
  margin-top: 3px;
  margin-bottom: 3px;
  box-sizing: border-box;
}

.annotation-strategy-label {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid white;
}

.center-container {
    display: flex;
    justify-content: center;
}

.btn-asl {
    margin: 3px;
}

.reference-image {
    max-width: 150px;
    min-width: 50px;
    max-height: 150px;
    min-height: 50px;
}

.strategy-description-text {
    white-space: pre-line;
}

@import 'components/previewThumbnail';
@import 'show';
@import 'charts';
