.icon {
    min-height: 16px;
    min-width: 16px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -3px;

    &.icon-point {
        background-image: url(../images/point.svg);
    }

    &.icon-rectangle {
        background-image: url(../images/rectangle.svg);
    }

    &.icon-polygon {
        background-image: url(../images/polygon.svg);
    }

    &.icon-linestring {
        background-image: url(../images/linestring.svg);
    }

    &.icon-circle {
        background-image: url(../images/circle.svg);
    }
}

.icon.icon-white, .icon.active {
    &.icon-point {
        background-image: url(../images/point_white.svg);
    }

    &.icon-rectangle {
        background-image: url(../images/rectangle_white.svg);
    }

    &.icon-polygon {
        background-image: url(../images/polygon_white.svg);
    }

    &.icon-linestring {
        background-image: url(../images/linestring_white.svg);
    }

    &.icon-circle {
        background-image: url(../images/circle_white.svg);
    }
}

.icon.icon-highlight {
    &.icon-point {
        background-image: url(../images/point_highlight.svg);
    }

    &.icon-rectangle {
        background-image: url(../images/rectangle_highlight.svg);
    }

    &.icon-polygon {
        background-image: url(../images/polygon_highlight.svg);
    }

    &.icon-linestring {
        background-image: url(../images/linestring_highlight.svg);
    }

    &.icon-circle {
        background-image: url(../images/circle_highlight.svg);
    }
}
