$ol-control-color: rgb(0, 60, 136);

.annotator__canvas {
    position: relative;
}

%ol-control {
    // on top of the map canvas
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1px;
    border-radius: 4px;
    transition: all 0.25s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.confidence-control {
    @extend %ol-control;

    position: absolute;
    // ~0.5em distance to full-screen OpenLayers control
    right: 43px;
    width: 51px;
    height: 28px;
    transition: width 0.25s ease;

    // border and padding like OpenLayers controls
    top: 0.5em;

    white-space: nowrap;
    overflow: hidden;

    &:hover {
        width: 200px;
    }

    // decrease height to fit to OpenLayers control
    .label {
        padding: 0.2em 0.6em;
        border-radius: 2px;
    }

    .confidence-range {
        display: inline-block;
        width: 137px;
        margin-left: 3px;
        vertical-align: middle;
        // otherwise the border witdth of the container isn't correct
        box-sizing: content-box;
    }
}

.confidence-label {
    font-weight: normal;
    font-size: 100%;
    line-height: inherit;
}

.controls-bar {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;

    .btn-group {
        @extend %ol-control;

        margin-right: 0.5em;

        .btn {
            border-radius: 2px;
            transition: background-color 0.25s ease;
            background-color: fade-out($ol-control-color, 0.5);

            &:not(:last-child) {
                margin-right: 2px;
            }

            &:hover, &.active {
                color: white;
                background-color: fade-out($ol-control-color, 0.3);
            }

            &:focus {
                color: white;
            }
        }
    }
}

%info-box {
    z-index: 1;
    border-radius: 4px;
    position: absolute;
    background-color: fade-out(#222, 0.3);
    border: 1px solid #353535;
    padding: .25em .5em;
}

.selected-label {
    @extend %info-box;
    right: 0.5em;
    bottom: 0.5em;
}

.mouse-position {
    @extend %info-box;
    left: 0.5em;
    bottom: 0.5em;
}
