.project-thumbnail {
    padding-right: 0;
    text-align: center;

    img {
        max-width: 100%;
        max-height: 45px;
        height: auto;
        border-radius: $border-radius-base;
    }
}
