.ate-example-patches {

    .patch-container {
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 1em;
    }

    .patch {
        height: 100px;
        max-width: 150px;

        &:not(:last-child) {
            margin-right: .5em;
        }
    }

    .alert {
        margin: 0 1em;
    }
}
