@import "variables";

.dashboard__hot-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;

    .image-thumbnail, .volume-thumbnail {
        width: 300px;
        height: 200px;
    }
}

.dashboard__project-volume {
    display: inline-block;
    position: relative;
    padding-bottom: 1em;
    padding-right: .5em;

    .volume-thumbnail {
        height: 200px;
        max-width: 100%;
    }
}

.dashboard__more-volumes {
    display: inline-block;
    position: relative;
    padding-bottom: 1em;


    a {
        height: 200px;
        text-decoration: none;
        display: flex;
        background: rgba(0, 0, 0, 0.2);
        border-radius: $border-radius-base;
        font-size: $font-size-h2;
        justify-content: center;
        align-items: center;
    }
}
