@import "variables";

$volume-image-margin: 4px;
$volume-image-padding: 0.5em;

.volume-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - #{$navbar-height} - 1px);
    margin-top: $navbar-height + 1px;
}

.volume-content {
    position: relative;
    flex: 1;
}

.volume-content__messages {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-text.navbar-volumes-breadcrumbs {
    &, a {
        color: $text-color;
    }
}

@import 'components/image-grid';
@import 'components/image-grid-image';
@import 'components/image-grid-progress';
@import 'components/filter-tab';
@import 'components/filter-select-component';
@import 'components/sorting-tab';
@import 'components/volume-image-grid-image';
@import 'components/image-label-list';

@import 'edit';
@import 'search';
