.annotator__sidebar {
	background-color: #222;
	display: flex;
	flex-flow: row nowrap;
	color: #777;
}

.sidebar__controls {
	@extend %sidebar-panel;
}

%sidebar-panel {
	width: 360px;
	border-left: 1px solid #090909;
	padding-top: 1em;

	h1, h2, h3, h4 {
		margin-top: 0;
	}
}

%foldout {
	display: none;

	&.open {
		display: block;
	}
}

.sidebar__annotations-edit, .sidebar__annotations-browse {
	@extend %foldout;
	@extend %sidebar-panel;
}

.controls__minimap {
	background-image: url(../images/noise.png);
	height: 200px;
	margin-bottom: 1em;
	border: 1px solid #090909;
}

.controls__panel {

	& > * {
		margin-bottom: 1em;
	}
}

.sidebar__annotations {
	height: 100%;
}

.annotation-list {
	
}

.annotation-list__item {
	cursor: pointer;
	border-left: 3px solid transparent;
	user-select: none;

	&:hover {
		border-color: rgb(0, 153, 255);
		color: #aaa;
	}

	&.selected {
		border-color: #ff5e00;
		color: #aaa;
	}

	.annotation-thumb {
		height: 50px;
		width: 50px;
		display: inline-block;
	}
}