.file-browser {
    border: 1px solid $input-border;
    padding: $padding-base-horizontal;
    border-radius: $input-border-radius;
}

.file-browser__dirs {
    margin-top: 1em;
    margin-bottom: 0;
    max-height: 200px;
    overflow-y: auto;
}
