$volume-image-margin: 4px;
$volume-image-padding: 0.5em;

.volume-content__messages {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-text.navbar-volumes-breadcrumbs {
    &, a {
        color: $text-color;
    }
}

.panel-image {
    text-align: center;
    padding: .5em;
    background-color: $gray-lighter;
}

.volume-storage-disk-btn {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

@import 'components/image-grid';
@import 'components/image-grid-image';
@import 'components/image-grid-progress';
@import 'components/filter-tab';
@import 'components/filter-select-component';
@import 'components/sorting-tab';
@import 'components/volume-image-grid-image';
@import 'components/file-label-list';
@import 'components/label-mapping';
@import 'components/user-mapping';

@import 'edit';
@import 'search';
