.annotation-clip {
    position: absolute;
    cursor: pointer;
    height: 100%;
    min-width: 3 * $border-radius-small;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.annotation-clip--selected {
    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border: 1px solid white;
        border-radius: $border-radius-small;
        pointer-events: none;
        z-index: 0;
    }
}

.annotation-clip--whole-frame {
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 2px,
        rgba(0, 0, 0, 0.3) 2px,
        rgba(0, 0, 0, 0.3) 4px
    );
    background-size: 100% 200%;

    &.annotation-clip--dark {
        background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 2px,
            rgba(255, 255, 255, 0.3) 2px,
            rgba(255, 255, 255, 0.3) 4px
        );
    }
}
