.current-time {
    height: 34px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid $legend-border-color;
    text-align: center;

    .hover-time {
        color: $text-muted;
    }
}

.video-timeline.full-height .current-time {
    border-bottom: 0;
    border-top: 1px solid $legend-border-color;
}
