.video-progress {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .tick {
        position: absolute;
        left: 0;
        top: 0;
        // height: 10px;
        width: 1px;
        border-left: 1px solid $text-muted;
        color: $text-muted;
        font-size: $font-size-small;
        padding: 0 5px;
        pointer-events: none;
        user-select: none;
    }
}
