.image-grid-progress {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    .btn-group-vertical {
        .btn {
            border-radius: 0 !important;
            border-right: 0;
        }
    }
}

.image-grid-progress__bar {
    flex: 1;
    border-left: 1px solid $btn-default-border;
    position: relative;

    // this is a workaround because chrome doesn't respect percentage height of nested
    // child elements in a flexbox: https://github.com/philipwalton/flexbugs/issues/84
    .image-grid-progress__wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
    }

    .image-grid-progress__inner {
        height: 0%;
        background-color: $btn-default-border;
        transition: background-color 0.1s ease;
    }

    &:hover {
        cursor: pointer;

        .progress-bar__progress {
            background-color: $gray-light;
        }
    }
}
