.image-grid__image {
    height: 135px;
    width: 180px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin: 4px;
    border: 2px solid $body-bg;
    border-radius: $border-radius-large;
    transition: border .25s ease;
    overflow: hidden;
    background-color: $gray-lighter;
    // create a gap between volume figure border and image so the image color does
    // not interfere with the border color
    padding: 2px;

    &:hover {
        .image-button {
            opacity: .75;
        }

        .image-icon {
            opacity: 1;
        }
    }

    &.image-grid__image--selected {
        .image-icon {
            opacity: .5;
        }

        &.image-grid__image--fade {
            img {
                opacity: .25;
            }
        }
    }

    &.image-grid__image--selectable {
        cursor: pointer;
    }

    &.image-grid__image--small-icon {
        .image-icon {
            align-items: flex-start;
            justify-content: flex-start;
            padding: .5em;
            font-size: 2em;
        }
    }

    &.image-grid__image--pinned {
        border-color: $brand-info;
        border-width: 6px;

        .image-button__pin {
            background-color: $brand-info;
            color: white;
            opacity: 1;
        }
    }

    img {
        width: auto;
        height: 100%;
        border-radius: $border-radius-base;
        transition: opacity .25s ease;
        image-orientation: none;
    }

    .image-buttons {
        position: absolute;
        top: $padding-base-vertical;
        right: $padding-base-vertical;
    }

    .image-button {
        padding: 0.3em 0.5em;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: $border-radius-base;
        color: white;
        display: block;
        opacity: 0;
        transition: opacity 0.25s ease;
        border: 0;

        &:not(:last-child) {
            margin-bottom: $padding-base-vertical;
        }

        &:hover {
            opacity: 1;
        }
    }

    .image-icon {
        z-index: 1;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 3em;
        opacity: 0;
        pointer-events: none;
        transition: opacity .25s ease;
        // text "border"
        text-shadow: -2px 0 $body-bg, 0 2px $body-bg, 2px 0 $body-bg, 0 -2px $body-bg;
        color: white;
    }
}

@supports (object-fit: contain) {
    .image-grid__image img {
        width: 100%;
        object-fit: contain;
    }
}
