numpy==2.1.*
opencv-contrib-python-headless==4.11.0.*
scipy==1.13.*
scikit-learn==1.4.*
matplotlib==3.8.*
PyExcelerate==0.6.7
Pillow==10.3.0
Shapely==2.0.*
pandas==2.2.*

# Included directly in the Dockerfiles
#xformers==0.0.23
#torch==2.9.*
#torchvision==0.24.*

# Special gpu-worker requirements.
albumentations
scikit-image
git+https://github.com/facebookresearch/segment-anything.git
