numpy==2.1.*
opencv-contrib-python-headless==4.11.0.*
scipy==1.14.*
scikit-learn==1.6.*
matplotlib==3.8.*
PyExcelerate==0.6.7
Pillow==11.*
Shapely==2.0.*
pandas==2.2.*
torch==2.9.*
torchvision==0.24.*
# Only works on a GPU.
#xformers==0.0.23
