numpy==2.1.*
opencv-contrib-python-headless==4.10.0.*
scipy==1.13.*
scikit-learn==1.4.*
matplotlib==3.8.*
PyExcelerate==0.6.7
Pillow==10.3.0
Shapely==2.0.*
pandas==2.2.*
torch==2.6.*
torchvision==0.21.*
