.label-tree-label {
    &.label-tree-label--selected > .label-tree-label__name {
        color: white;
        font-weight: bold;
    }

    &.label-tree-label--expandable:not(.label-tree-label--editing) > .label-tree-label__name {
        text-decoration: underline;
    }

    &.label-tree-label--editing > .label-tree-label__name {
        padding-left: $padding-small-vertical;
    }

    .label-tree-label__color, .label-tree-label__chevron {
        position: absolute;
        left: .25em;
        width: 1em;
        height: 1em;
    }

    .label-tree-label__color {
        top: 9px;
        border: 2px solid white;
        border-radius: 50%;
        left: $padding-small-vertical;
    }

    .label-tree-label__chevron {
        top: 6px;
        left: $padding-small-vertical;
        text-shadow:
            -1.5px 0 white,
            1.5px 0 white,
            0 -1.5px white,
            0 1.5px white;

        &:before {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Font Awesome 5 Free';
            line-height: 1;
        }

        &.label-tree-label__chevron--up:before {
            // fontawesome fa-chevron-up
            content: "\f077";
        }

        &.label-tree-label__chevron--down:before {
            // fontawesome fa-chevron-down
            content: "\f078";
        }
    }

    .label-tree-label__name {
        position: relative;
        padding: $padding-small-vertical 27px;
        border-radius: $border-radius-small;
        word-wrap: break-word;

        &:hover {
            color: white;
            cursor: pointer;
            background-color: $gray-lighter;

            .label-tree-label__favourite {
                display: inline-block;
            }
        }
    }

    .form-control.label-tree-label__name-input, .form-control.label-tree-color-input {
        vertical-align: top;
        display: inline-block;
        width: auto;
    }

    .form-control.label-tree-color-input {
        width: 50px;
    }

    .label-tree-label__buttons {
        padding-top: $padding-small-vertical 0;
        position: absolute;
        right: 5px;
    }

    .label-tree-label__favourite {
        color: $gray-light;
        display: none;
        background: none;
        border: 0;
        padding: 0;

        &:hover, &.selected {
            color: inherit;
            display: inline-block;
        }
    }

    .label-tree-label_position {
        pointer-events: none;
    }

}
