.label-tree {
    &.label-tree--panel {
        padding: $padding-small-vertical;

        .label-tree__list {
            margin: 0;
        }
    }
}

.label-tree__title {
    margin-top: 0;
    padding-right: 0.5em;
}

.label-tree__title-container {
      position: relative;
      width: 100%;
      height: auto;
}

.label-tree__title-hovering {
    text-decoration: underline;
    cursor: pointer;
    padding-right: 2em;
}

.label-tree__move-buttons {
    position: absolute;
    right: 0.5em;
    top: 0;
}

.label-tree__list {
    list-style-type: none;
    padding: 0;

    .label-tree__list {
        padding-left: 15px;
    }
}
