.label-tree {
    &.label-tree--panel {
        padding: $padding-small-vertical;

        .label-tree__list {
            margin: 0;
        }
    }
}


.label-to-be-moved {
    color: #00AAFF;
}

.drag-button {
    margin-right: 0.5em;
}

.label-tree
.label-tree__title {
    margin-top: 0;
}

.label-tree__list {
    list-style-type: none;
    padding: 0;

    .label-tree__list {
        padding-left: 15px;
    }
}
