.label-tree {
    &.label-tree--panel {
        padding: $padding-small-vertical;

        .label-tree__list {
            margin: 0;
        }
    }
}

.label-tree__title {
    margin-top: 0;
    padding-right: 44px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;

        .label-tree__move-buttons {
            display: block;
        }
    }
}

.label-tree__title-container {
      position: relative;
      width: 100%;
      height: auto;
}

.label-tree__move-buttons {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.label-tree__list {
    list-style-type: none;
    padding: 0;

    .label-tree__list {
        padding-left: 15px;
    }
}
