@import "../variables";

%info-box {
    z-index: 1;
    border-radius: 4px;
    position: absolute;
    background-color: fade-out(#222, 0.3);
    border: 1px solid #353535;
    padding: .25em .5em;
}

.navbar-text.navbar-annotations-breadcrumbs {
    white-space: nowrap;
    max-width: 850px;
    text-overflow: ellipsis;
    overflow: hidden;

    &, a {
        color: #ccc;
    }

    // make dropdown visible despite overflow:hidden
    .dropdown {
        position: static;

        .dropdown-menu {
            left: auto;
            top: auto;
        }
    }
}

.annotator-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - #{$navbar-height} - 1px);
    margin-top: $navbar-height + 1px;
}

.annotator-container__canvas {
    flex: 1;
    height: 100%;
    position: relative;
}

@import "ol";
@import "icons";
@import "sidebar/annotations";
@import "sidebar/labels";
@import "sidebar/color-adjustment";
@import "sidebar/settings";
@import "components/annotation-canvas";
@import "components/label-indicator";
@import "components/mouse-position-indicator";
@import "components/minimap";
@import "components/control-button";
