name: Tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.docker/**'
      - 'resources/assets/**'
      - 'resources/scripts/**'
      - 'storage/**'
      - 'package.json'
      - 'package-lock.json'
  pull_request:
    paths-ignore:
      - '.docker/**'
      - 'resources/assets/**'
      - 'resources/scripts/**'
      - 'storage/**'
      - 'package.json'
      - 'package-lock.json'

jobs:
  test-current:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Copy .env
      run: cp .env.example .env

    - name: Update .env
      run: |
        echo USER_ID=$(id -u) >> .env
        echo GROUP_ID=$(id -g) >> .env

    - name: Set testing key
      run: echo "APP_KEY=base64:STZFA4bQKDjE2mlpRPmsJ/okG0eCh4RHd9BghtZeYmQ=" >> .env

    - name: Install Dependencies
      run: composer install --no-ansi --no-interaction --no-scripts --no-suggest --prefer-dist --ignore-platform-reqs

    - name: Install aws dependency
      run: composer require league/flysystem-aws-s3-v3

    - name: Fetch base images
      run: |
        docker pull ghcr.io/biigle/app:latest
        docker pull ghcr.io/biigle/worker:latest
        docker pull ghcr.io/biigle/pgvector:latest

    - name: Start test database
      run: |
        docker compose up -d --no-build database_testing
        sleep 5

    - name: Run tests
      run: docker compose run --rm worker php artisan test --parallel
