name: Test JS

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/test-js.yml'
      - 'resources/assets/**'
      - 'package.json'
      - 'package-lock.json'
  pull_request:
    paths:
      - '.github/workflows/test-js.yml'
      - 'resources/assets/**'
      - 'package.json'
      - 'package-lock.json'

jobs:
  test-js-bundle:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Set registry authentication token
      run: echo "//npm.pkg.github.com/:_authToken=$GITHUB_TOKEN" >> .npmrc
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - name: Install NPM packages
      run: npm install

    - name: Bundle js
      run: npm run prod
